layout {
    background-color "transparent"

    focus-ring {
        active-color   "#dec56e"
        inactive-color "#979080"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#dec56e"
        inactive-color "#979080"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#dec56e"
        inactive-color "#979080"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#dec56e80"
    }
}

recent-windows {
    highlight {
        active-color   "#554500"
        urgent-color   "#ffb4ab"
    }
}