layout {
    background-color "transparent"

    focus-ring {
        active-color   "#fdb0d4"
        inactive-color "#9d8d92"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#fdb0d4"
        inactive-color "#9d8d92"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#fdb0d4"
        inactive-color "#9d8d92"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#fdb0d480"
    }
}

recent-windows {
    highlight {
        active-color   "#6d3352"
        urgent-color   "#ffb4ab"
    }
}