spawn-at-startup "solaar" "--window=hide" "--battery-icons=solaar"
spawn-at-startup "mega-sync"
spawn-at-startup "waybar"
spawn-at-startup "swaybg" "-m" "fill" "-i" "/home/elvis/Pictures/backgrounds/wallhaven-218v56.jpg"
spawn-at-startup "sunsetr"
spawn-at-startup "hypridle"
spawn-at-startup "hyprlock" "--grace" "60"
spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent"
spawn-at-startup "clipse" "-listen"
