input {
    keyboard {
        xkb {
          layout "us, graphite"
        }
        numlock
        repeat-rate 35
        repeat-delay 200
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
        accel-profile "flat"
        scroll-method "two-finger"
    }
}
