layout {
  gaps 10
    background-color "#1a1b26"
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    border {
        off
    }

    shadow {
        on
        draw-behind-window false
        softness 40
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
    }

    focus-ring {
        width 2
        active-color "#d3c6aa"
        inactive-color "#ffffff00"
    }
}
