// window-rule {
//   match title="^*$"
//   open-floating true
// }

// always float
window-rule {
  match title="^clipse$"
  match title="^impala$"
  match title="^bluetui$"
  match title="^wiremix$"
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

// scratchpad applications
window-rule {
  match app-id="obsidian"
  match title="neo-obsidian"
  match app-id="Bitwarden"
  match app-id="btop"
  default-column-width { fixed 1200; }
  default-window-height { fixed 800; }
  open-on-workspace "Scratchpad"
  open-floating true
  open-focused false
}

// chat applications
window-rule {
  match app-id="telegram"
  match app-id="Slack"
  match app-id="betterbird"
  open-on-workspace "Chat"
  open-focused false
}

// work applications
window-rule {
  match app-id="zen"
  open-on-workspace "Work"
}

// Browser
window-rule {
  match app-id="firefox"
  open-on-workspace "Browser"
}

// file manager
window-rule {
  match title="yazi"
  open-on-workspace "System Tools and Misc"
}
// window rules below copied from dms
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    match app-id="foot" 
    draw-border-with-background false
}

// opacity rules
window-rule {
    match is-active=false
    opacity 0.85
}

window-rule {
    // geometry-corner-radius 12
    clip-to-geometry true
}

recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}
