// scratchpad applications
window-rule {
  match app-id="obsidian"
  match title="neo-obsidian"
  match app-id="Bitwarden"
  match app-id="btop"
  default-column-width { fixed 1200; }
  default-window-height { fixed 800; }
  open-on-workspace "scratch"
  open-floating true
  open-focused false
}

// floaters
window-rule {
  match app-id="foot$" title="^clipse$"
  match title="^impala$"
  match title="^bluetui$"
  match title="^wiremix$"
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

// launch chat apps in chat workspace
window-rule {
    match app-id=r#"^org.telegram.desktop$"#
    match app-id=r#"^Slack$"#
    match app-id=r#"^betterbird$"#
    match app-id=r#"^vesktop$"#
    open-on-workspace "chat"
    open-maximized false
}

// window rules below copied from dms
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    match app-id="foot" 
    draw-border-with-background false
}

// opacity rules
window-rule {
    match is-active=false
    opacity 0.85
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}
