output "eDP-1" {
  mode "1920x1080@60.00"
  scale 1
  transform "normal"
}

output "DP-5" {
  mode "3840x2160@60.000"
  scale 1.25
  transform "normal"
}

output "DP-4" {
  mode "3840x2160@60.000"
  scale 1.25
  transform "normal"
}
